body {
    
    Background-color: #413F54;
    font-family: sans-serif, serif;
     
}

h1 {
    
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: ;
    
    
            
}
        
h2 {

    text-align: center;
    font-size:30px;
    
}

table, th, td {

    text-align: center;
    border: 2px solid;
    border-color:#201f2a;
    
}

th {
    
    height: 100px;
}

table {
    
    width:100%;
}

a {
    
    color: black;
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    text-decoration:none;
    font-size: 25px;
    font-weight:bold;
    
}

a:hover {
    
    color:aliceblue;
    background-color: black;
    text-decoration: underline;
}

ul {
    
    list-style-type: none;
    margin-left: 350px;
    margin-right: 350px;
    padding: 15px;
    Background-color: #4c3f54;
    Text-align:center;
    
    
}

li {
    
    display: inline;
}

.homeIntro {
    
    text-align: center;
    font-size: 20px;
    padding: 50px;
    margin-left:250px;
    margin-right: 250px;
}

.contact {
    
    text-align: Center;
    padding:25px;
    font-size: 20px;
}

p3 {
    
    margin-left:50px;
    
    
}

footer {
    
    text-align:right;
    font-size: 15px;
    
}